

.header_align {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    
}
.icon_design {
    font-size: 27px;
    margin-left: 15px;

}
.btn_style{
    background-color: #ff3e00;
    color:white;
    font-size: small;
    border-radius: 10%;
    width:40%;
}
.icons_align{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
    padding-right: 2%;
    margin-left: 10%;

}
.category_icons_align{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
    padding-left: 2%;
    padding-right: 2%;

}
a {
    text-decoration: none;
}
.categoryList_card_design {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    padding: 1%;
    gap: 1%;
    /* position: relative;
    margin-left: 14%;
    margin-top: -320px; */
}

.category_card_design {
    margin-top: 2%;
    width: 260px !important;
}
.for_cardFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
.search{
    position: relative;
    box-shadow: 0 0 20px rgba(51,51,51,-1);
    margin-left: 300px;
}
.search input {
    height: 40px;
    width: 380px;
    text-indent:25px;
    border : 1px solid #d6d4d4;
}
.search .search_icon {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.sideNav_card {
    position: fixed;
    width: 15%;
    height: 100%;

}